.about-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}
#banner {
  width: 600px;
  height: 500px;
}
.about-hero-right {
  width: 40%;
  margin-left: 40px;
  text-align: left;
  align-self: flex-start;
}
.about-hero-right h1 {
  font-size: 50px;
}
h1 span {
  color: blue;
}

.about-img-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 2px;
  justify-content: flex-start;
  align-self: flex-start;
}
.about-img-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -10px;
}
.about-column-1 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  padding-right: 46px;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .about-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .about-hero-right {
    width: 100%;
    padding: 0 20px;
    margin-left: 10px;
  }

  .about-hero-right h1 {
    font-size: 24px;
  }

  .about-hero-right p {
    font-size: 14px; /* Adjust font size as needed */
  }

  .about-column-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .about-img-container {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }

  .about-img-container img {
    width: 30px;
    height: 30px; /* Adjust image size as needed */
    margin-top: 10px;
    /* margin-bottom: 40px; */
  }

  .about-column-1 p {
    font-size: 12px; /* Adjust font size as needed */
  }
}

.about-right-image {
  position: relative;
}

.about-column-1 {
  position: absolute !important;
  bottom: 30px;
  left: 30px;
}

.about-subscribe-form {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.about-email-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.about-subscribe-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.about-email-icon {
  padding: 0px 5px;
  font-size: 40px;
}

.about-subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* .email-policy-container {
  display: flex;
  align-items: center;
  margin-left: 10px; 
} */

/* .email-policy {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
} */
/* .signup-left {
  text-align: left;
}
.signup {
  margin-top: 100px;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  padding: 20px;
} */
@media only screen and (max-width: 768px) {
  .about-subscribe-form {
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Add spacing between elements */
  }

  .about-email-input-container {
    width: 100%; /* Make the input container full width */
  }

  .about-subscribe-input {
    width: 100%; /* Make the input full width */
  }

  .about-email-icon {
    padding: 0px 5px;
    font-size: 40px;
  }

  .about-subscribe-button {
    border-radius: 5px; /* Adjust border-radius */
    width: 100%; /* Make the button full width */
  }

  .about-email-policy-container {
    margin-left: 0; /* Remove left margin */
    margin-top: 10px; /* Add top margin */
  }

  /* .about-signup {
    flex-direction: column; 
    gap: 20px; 
    padding: 20px; 
  }

  .signup-left {
    text-align: center; 
  } */
}
