.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  background-color: #f8fafc;
  /* background: rgba(135, 207, 235, 0.158); */
}
.cont-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-align: left;
}
.cont-1 h1 {
  color: blue;
  font-size: 60px;
}
@media only screen and (max-width: 768px) {
  .container {
    display: grid; /* Change from flex to grid */
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-gap: 10px;
    align-items: center;
    text-align: left;
  }
}
