.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
}
#img-logo {
  width: 30px;
  height: 30px;
}
.leftContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.leftContainer h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.leftContainer > ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.leftContainer > ul > li {
  text-decoration: none;
  list-style: none;
}

.rightContainer {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  align-items: center;
}
#fa-prodcuts {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* .btn1 {
  font-size: 15px;
  color: white;
  background-color: blue;
  border-radius: 6px;
  width: fit-content;
  padding: 5px 4px;
  max-height: 100px;
  border: 1px solid blue;
} */
/* .btn11 {
  font-size: 14px;
  color: white;
  background-color: blue;
  border-radius: 6px;
  width: fit-content;
  padding: 14px 6px;
  text-align: center;
  max-height: 50px;
  border: 1px solid blue;
} */

.menu-icon {
  width: 24px;
  display: none;
  margin-left: 20px;
}
.signIn {
  color: #475569;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
}

@media only screen and (max-width: 800px) {
  .rightContainer {
    gap: 0;
  }
  .leftContainer ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 30%;
  }

  .leftContainer ul.show {
    display: flex;
  }

  .leftContainer ul li {
    margin: 10px 0;
  }

  .rightContainer {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }
  .loogo {
    display: none;
  }
  .signIn {
    color: #475569;
    font-size: 16px;
  }
  #img-logo {
    width: 30px;
    height: 30px;
  }
}
