.container-12 {
  text-align: center;
  margin-top: 80px;
  background-color: #f8fafc;
}

.card {
  /* background-color: rgba(135, 207, 235, 0.13); */
  /* background-color: #f8fafc; */

  padding: 20px;
  margin-top: 10px;
  text-align: center;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  gap: 6px;
}

.iicon {
  color: #2563eb;
  font-size: 60px;
  padding: 15px;
  border-radius: 4px;
  margin-top: -40px;
}
.container-2 {
  display: block;
}
.roww {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roww1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container-2 {
    display: flex;
    flex-direction: column;
  }

  .container-12 {
    margin-top: 40px;
  }

  .roww1 {
    flex-direction: column;
    margin-top: 30px;
  }
  .roww {
    flex-direction: column;
    margin-top: 30px;
  }

  .iicon {
    font-size: 60px;
    margin-top: -20px; /* Adjusted margin for smaller screens */
  }

  .card {
    padding: 10px; /* Adjusted padding for smaller screens */
    margin-top: 5px; /* Adjusted margin for smaller screens */
  }
  /* .cont {
    display: flex;
    flex-direction: column;
  } */
}
