.container-12 {
  text-align: center;
  margin-top: 80px;
  background-color: #f8fafc;
}

.cardd {
  /* background-color: rgba(135, 207, 235, 0.13); */
  /* background-color: #f8fafc; */

  padding: 20px;
  margin-top: 10px;
  text-align: center;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  gap: 6px;
}

.iicon {
  color: #2563eb;
  font-size: 60px;
  padding: 15px;
  border-radius: 4px;
  margin-top: -40px;
}
.container-2 {
  display: block;
}
.roww {
  display: flex;
}
.roww1 {
  display: flex;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container-2 {
    display: flex;
    flex-direction: column;
  }
}
