.color {
  color: orange;
  padding: 20px;
  margin: 10px;
  row-gap: 100px;
  justify-content: space-between;
}
.color p {
  color: black;
  font-size: 30px;
}
h5,
h6 {
  color: black;
  margin: 0;
  padding: 2px;
  text-align: left;
  margin-left: 8px;
}
.member {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member img {
  border-radius: 50%;
}
.design-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  /* background: rgba(135, 207, 235, 0.158); */
  height: 60vh;
  position: relative;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 36px;
}
.test-1 {
  background-color: #f8fafc;
}
.name h5 {
  font-size: 18px;
}
.name h6 {
  font-size: 18px;
}
.arrow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 10px;
  position: absolute;
  top: 50%;
  color: black;
}
.arrow-left {
  left: 50px;
}
.arrow-right {
  right: 50px;
  color: black;
}
@media only screen and (max-width: 768px) {
  .design-parent {
    height: auto;
    padding: 20px;
  }
  .arrow-container {
    gap: 10px;
    padding-bottom: 40px;
  }
  .arrow-left {
    left: calc(50% - 10px);
    top: 90%;
  }
  .arrow-right {
    right: calc(50% + 20px);
    top: 90%;
  }
}
.parent-test {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}
