.container {
  display: flex;
  gap: 20px;
  background-color: #010a1e;
  color: white;
  justify-content: space-evenly;

  .row1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-self: start;

    .row22 {
      display: flex;
      align-items: center;

      img {
        margin-right: 20px; /* Adjust margin between image and text */
      }
      p {
        display: block;
        justify-content: center;
      }
    }
  }

  .row {
    align-self: flex-start;
    text-align: left;
  }

  .row2,
  .row3,
  .row4,
  .row5 {
    flex: 1;
  }
}

.hr {
  background-color: #94a3b8;
  height: 1px; /* Set the height of the hr */
  border: none; /* Remove default border */
}
.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #010a1e;
  padding: 20px 50px;
  margin-top: 50px;
  max-height: 512px;
}
.copyright {
  color: white;
  margin-top: 50px;
}
.icons {
  display: flex;
  gap: 10px;
}
